html, body
{
	margin: 0;
	height: 100%;

	background-color: #272332;
	color: #EFE3AF;

	font-family: 'Raleway', sans-serif;
}


#header 
{
	background-image: url("../img/6.jpg");

	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; /* don't scroll */

}

.container{text-align: center;}


#inbetween
{
	text-align: center;
	font-weight: bolder;
}


#platforms
{
	padding-left: 20%;
	padding-right: 20%;
}

#platforms img
{
	width: 75%; 
	cursor: pointer;
}


.video
{
	display: flex;
    align-items: center;
    justify-content: center;
}


img{width: 100%;}


#album_art img{width: 60%;}


.title
{
	font-size: 50px;
	font-weight: bold;
	font-family: 'Homemade Apple', cursive;
	letter-spacing: -5px;

	text-align: center;
	line-height: normal;


	background: -webkit-linear-gradient(#EFE3AF, #E66D6C);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


a
{
	text-decoration: none;
	color: #EFE3AF;
}

a:hover
{
	text-decoration: none;
	color: #E66D6C;
}


.btn
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	background-color: transparent;
	color: #EFE3AF;
	border-color: #EFE3AF; 

	padding: 15px 20px;
}

.btn:hover{background: #EFE3AF}


.table{color: #EFE3AF}

.table-hover tbody tr:hover td, 
.table-hover tbody tr:hover th  
{
	background: #EFE3AF;
}


#newsletter_input
{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;

	background-color: transparent;
	color: #EFE3AF;
	border-color: #EFE3AF;

	border:none;
    border-bottom: 2px dashed #EFE3AF;

	padding: 17px 20px;
}


#social_media
{
	padding-left: 40%;
	padding-right: 40%;
}

#social_media img
{
	filter: invert(90%) sepia(28%) saturate(335%) hue-rotate(360deg) brightness(98%) contrast(92%);
}

#social_media img:hover, #social_media img:active
{
	filter: invert(78%) sepia(56%) saturate(4360%) hue-rotate(312deg) brightness(90%) contrast(102%);
}



@media all and (orientation:portrait)
{
	.container
	{
	   	min-width:100% !important;
	   	max-width:100% !important;
	}

	img{width: 100%}

	#platforms
	{
		padding-left: 0;
		padding-right: 0;
	}

	#social_media
	{
		padding-left: 20%;
		padding-right: 20%;
	}

	#album_art img{width: 100%}
}
